*.o
*.d
*.so
*.ko
*.o.cmd
*.ko.cmd
*.mod.c
.tmp_versions
Module.symvers
modules.order
slow_disk
big_disk
other_disk
frontend/tdisk
frontend/tdisk.exe
web_interface/tdisk
documentation/kernel_module/html
documentation/kernel_module/doxygen_sqlite3.db
documentation/frontend/html
documentation/frontend/doxygen_sqlite3.db
web_interface/tdisk
frontend/libtd-frontend.a
tests/io-verify
tests/io-verify-files
tests/random-ios
**/node_modules
**/npm-debug.log
web_interface/tdisk_module/build
plugins/dropbox/dropbox
plugins/libs/*
!plugins/libs/clone.sh
