# .gitignore fily by tDisk

# Common file types
*.a
*.d
*.dll
*.exe
*.o
*.so
*.so.*

# Kernel module types
*.ko
*.ko.cmd
*.mod.c
*.o.cmd
.tmp_versions
Module.symvers
modules.order

# Test (fake) disks
big_disk
other_disk
slow_disk

# Executables
backend/fileshare
backend/plugins/blackhole/blackhole
backend/plugins/dropbox/dropbox
backend/proxy/proxy
backend/serial/serialport
backend/serialport
backend/share/fileshare
backend/tdisk
backend/tests/io-verify
backend/tests/io-verify-files
backend/tests/random-ios
client-gui/serialport

# Node.js & angualar types
**/node_modules
**/npm-debug.log
web_interface/webinterface/app/*.js
web_interface/webinterface/app/*.js.map
web_interface/webinterface/typings/**

# Libs
backend/libs/*
!backend/libs/*.patch
!backend/libs/clone.sh

# Other types
documentation/backend/doxygen_sqlite3.db
documentation/kernel_module/doxygen_sqlite3.db
web_interface/database.db
