*.o
*.d
*.so
*.so.*
*.dll
*.a
*.ko
*.o.cmd
*.ko.cmd
*.mod.c
.tmp_versions
Module.symvers
modules.order
slow_disk
big_disk
other_disk
backend/tdisk
backend/tdisk.exe
backend/fileshare.exe
backend/fileshare
backend/share/fileshare
backend/share/fileshare.exe
web_interface/webinterface/app/*.js
web_interface/webinterface/app/*.js.map
web_interface/webinterface/typings/**
web_interface/database.db
documentation/kernel_module/doxygen_sqlite3.db
documentation/backend/doxygen_sqlite3.db
backend/tests/io-verify
backend/tests/io-verify-files
backend/tests/random-ios
**/node_modules
**/npm-debug.log
backend/plugins/dropbox/dropbox
backend/plugins/blackhole/blackhole
backend/libs/*
!backend/libs/clone.sh
backend/diaa_sami_comsupp.dll
backend/serial/diaa_sami_comsupp.dll
backend/serialport.exe
backend/serial/serialport.exe
backend/serialport
backend/serial/serialport
backend/proxy/proxy
